<app-navbar>
  <div class="container">
    <h1>Usuarios</h1>
    <button (click)="createUser(createUserTemplate)">+ Añadir usuario</button>
  </div>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Nombre de usuario</th>
          <th>Mail</th>
          <th>Rol</th>
          <th>Tipo de moneda</th>
          <th>Monto horario</th>
          <th>Monto mensual</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roleName}}</td>
          <td>{{user.currencyName}}</td>
          <td>{{user.hourlyAmount}}</td>
          <td>{{user.monthlyAmount}}</td>
          <td><button class="edit-btn" (click)="openEditUserModal(user.id!, createUserTemplate)">Editar</button></td>
          <td><button class="delete-btn" (click)="deleteUser(user.id!)">Borrar</button></td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!users.length"><b>No hay usuarios para mostrar.</b></p>
  </div>
</app-navbar>

<ng-template #createUserTemplate>
  <form [formGroup]="form" (ngSubmit)="isEditModal ? editUser() : register()" autocapitalize="new-password"
    action="javascript:void(0)">
    <label for="firstname">Nombre</label>
    <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('firstName')}">
      <input required type="text" id="firstname" name="firstname" autocomplete="new-password"
        formControlName="firstName">
    </div>

    <label for="lastname">Apellido</label>
    <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('lastName')}">
      <input required type="text" id="lastname" name="lastname" autocomplete="new-password" formControlName="lastName">
    </div>

    <label for="username">Nombre de usuario</label>
    <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('username')}">
      <input required type="text" id="username" name="username" formControlName="username">
    </div>

    <label for="password" *ngIf="showPasswordField">Contraseña</label>
    <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('password')}" *ngIf="showPasswordField">
      <input required type="password" id="password" name="password" formControlName="password">
    </div>

    <label for="email">Mail</label>
    <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('email')}">
      <input required type="email" id="email" name="email" formControlName="email">
    </div>

    <label for="currency">Tipo de moneda</label>
    <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('currency')}">
      <select formControlName="currency">
        <option *ngFor="let currency of currencies" value={{currency.id}}>{{currency.name}}</option>
      </select>
    </div>

    <label for="role">Rol</label>
    <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('role')}">
      <select formControlName="role">
        <option *ngFor="let role of roles" value={{role.id}}>{{role.name}}</option>
      </select>
    </div>

    <label for="hourlyAmount">Monto horario</label>
    <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('hourlyAmount')}">
      <input required type="number" id="hourlyAmount" name="hourlyAmount" formControlName="hourlyAmount">
    </div>

    <label for="monthlyAmount">Monto mensual</label>
    <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('monthlyAmount')}">
      <input required type="number" id="monthlyAmount" name="monthlyAmount" formControlName="monthlyAmount">
    </div>

    <p *ngIf="this.form.invalid && formSubmitted" style="color: red">Por favor complete los campos.</p>
    <button type="submit" class="submit-btn">
      {{isEditModal ? 'Editar' : 'Crear'}}
    </button>
  </form>
</ng-template>
