<app-navbar>
  <div class="container">
    <h1>Usuarios</h1>
    <button>+ Añadir usuario</button>
  </div>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Nombre de usuario</th>
          <th>Mail</th>
          <th>Rol</th>
          <th>Tipo de moneda</th>
          <th>Monto horario</th>
          <th>Monto mensual</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Julio</td>
          <td>Dechert</td>
          <td>juliodechert</td>
          <td>julio.dechert@lurica.us</td>
          <td>Empleado</td>
          <td>PES</td>
          <td>$ 10.00</td>
          <td>$ 10,000.00</td>
          <td><button class="edit-btn">Editar</button></td>
          <td><button class="delete-btn">Borrar</button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Alexis</td>
          <td>Rivero</td>
          <td>arivero</td>
          <td>alexis.rivero@lurica.us</td>
          <td>Empleado</td>
          <td>PES</td>
          <td>$ 10.00</td>
          <td>$ 10,000.00</td>
          <td><button class="edit-btn">Editar</button></td>
          <td><button class="delete-btn">Borrar</button></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Diego</td>
          <td>Lucano</td>
          <td>dielucano</td>
          <td>diego.lucano@lurica.us</td>
          <td>Admin</td>
          <td>USD</td>
          <td>$ 500.00</td>
          <td>$ 500,000.00</td>
          <td><button class="edit-btn">Editar</button></td>
          <td><button class="delete-btn">Borrar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-navbar>