<!-- <div *ngIf="clients[i].projects[j].showMilestones" class="milestones">
  <div class="milestone" *ngFor="let milestoneControl of getMilestoneControls(i, j); let k = index" [formGroupName]="k">
    <div class="milestone-header" (click)="stopPropagation($event)">
      <input type="text" formControlName="name" (click)="stopPropagation($event)">
      <div class="header-buttons">
        <button *ngIf="!clients[i].projects[j].milestones[k].created" class="save-button"
          (click)="saveMilestone(clients[i].projects[j].milestones[k], clients[i].projects[j].id!, $event)">
          <img src="assets/save.svg">
        </button>
        <button class="edit-button"
          (click)="saveMilestone(clients[i].projects[j].milestones[k], clients[i].projects[j].id!, $event)">
          <img src="assets/edit.svg" />
        </button>
        <button class="delete-button" (click)="deleteMilestone(clients[i].projects[j].milestones[k], i, j, k, $event)">
          <img src="assets/delete.svg" />
        </button>
      </div>
    </div>
    <div class="milestone-body">
      <div class="milestone-row">
        <div class="milestone-column">
          <label for="date">Fecha de entrega:</label>
          <input type="date" formControlName="date" (click)="stopPropagation($event)">
        </div>
        <div class="milestone-column">
          <label for="amountPercentage">Porcentaje del hito:</label>
          <input type="number" formControlName="amountPercentage" (click)="stopPropagation($event)">
        </div>
      </div>
    </div>
  </div>
  <button class="add-button" [disabled]="!clients[i].projects[j].created"
    (click)="addMilestone(clients[i], clients[i].projects[j])">+ Añadir hito</button>
</div> -->