<header>
    <h1>Lurica Horas</h1>
</header>

<body>
    <div class="companies-container">
        <div class="companies-element-container">
            <h1 class="select-company-header">Ingreso a Empresa</h1>
            <div>
                <ul>
                    <div class="li-companies-container">
                        <p class="select-company-text">Seleccione una Empresa para operar</p>
                        <div class="companies-element" *ngFor="let company of companies" (click)="saveCompanyDataInLocalStorage(company)" routerLink="/dashboard">
                            <img src="https://testpagos.macrosoluciones.macro.com.ar/_next/image?url=%2Fimages%2Flogo-empresa.png&w=64&q=75">
                            <li class="company-element-text">{{company.name}}</li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</body>