body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.customer-card,
.project-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.customer-header,
.project-header,
.milestone-header {
  padding: 10px 15px;
  background-color: #f9f9f9;
  color: #333;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.customer-header:hover,
.project-header:hover,
.milestone-header:hover {
  background-color: #e9e9e9;
}

.customer-header input,
.project-header input,
.milestone-header input {
  background-color: #f9f9f9;
  border: none;
  color: #333;
  width: 200px;
  margin-right: 10px;
  cursor: text;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.customer-header input:disabled,
.project-header input:disabled,
.milestone-header input:disabled {
  background-color: #e0e0e0;
}

.customer-header .header-buttons,
.project-header .header-buttons,
.milestone-header .header-buttons {
  display: flex;
  justify-content: flex-end;
}

.customer-header button,
.project-header button,
.milestone-header button {
  margin-left: 5px;
  padding: 5px 10px;
  border: 1px solid #efefef;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.header-buttons .edit-button:hover {
  border: 1px solid #007bff;
}

.header-buttons .delete-button {
  border: 1px solid #c82333;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.project-body,
.milestone-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.project-body label,
.milestone-body label {
  margin-bottom: 5px;
  font-weight: bold;
}

.project-body input,
.milestone-body input,
.project-body select,
.milestone-body select {
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s, background-color 0.3s;
}

.project-body input:disabled,
.milestone-body input:disabled {
  background-color: #e0e0e0;
}

.project-body input:focus,
.milestone-body input:focus {
  border-color: #007bff;
}

.milestone-body .milestone-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* Add gap between columns */
}

.milestone-body .milestone-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.milestone-body .milestone-column:last-child {
  margin-right: 0;
}

.milestone {
  margin-bottom: 20px;
  /* Add margin between milestones */
  border: 1px solid #ddd;
  /* Add border to milestone */
  border-radius: 5px;
  /* Add border radius */
  padding: 10px;
  /* Add padding */
  background-color: #fff;
  /* Add background color */
}

.hidden {
  display: none;
}

.projects,
.milestones {
  padding: 15px;
}

.milestone:last-child {
  border-bottom: none;
}

h2,
h3,
p {
  margin: 0;
  color: #333;
}

.add-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 0;
  transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;
  display: block;
  width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
  background-color: #f9f9f9;
  border-color: #999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-button-container {
  text-align: center;
  margin: 20px 0;
}

.add-button:disabled {
  border: 2px solid #CCCCCC;
  background-color: #E0E0E0;
  color: #AAAAAA;
  cursor: not-allowed;
}
