<app-navbar>
  <div class="container">
    <button class="add-button" (click)="addCustomer()">+ Añadir cliente</button>
    <div class="customer-card" *ngFor="let customer of clients; let i = index">
      <div class="customer-header" (click)="toggleVisibility(i)">
        <input type="text" placeholder="Cliente increible" [(ngModel)]="customer.name" [disabled]="!customer.editMode"
          (click)="stopPropagation($event)" (focusout)="createCustomer(customer)">
        <div class="header-buttons">
          <button class="edit-button" (click)="editEntity(customer, $event)"><img src="assets/edit.svg" /></button>
          <button class="delete-button" (click)="deleteEntity(i, undefined, undefined, $event)"><img
              src="assets/delete.svg" /></button>
        </div>
      </div>
      <div [ngClass]="{'hidden': !customer.showProjects}" class="projects">
        <div class="project-card" *ngFor="let project of customer.projects; let j = index">
          <div class="project-header" (click)="toggleVisibility(i, j)">
            <input type="text" placeholder="Proyecto increible" [(ngModel)]="project.name"
              [disabled]="!project.editMode" (click)="stopPropagation($event)">
            <div class="header-buttons">
              <button class="edit-button" (click)="editEntity(project, $event)"><img src="assets/edit.svg"></button>
              <button class="delete-button" (click)="deleteEntity(i, j, undefined, $event)"><img
                  src="assets/delete.svg" /></button>
            </div>
          </div>
          <div [ngClass]="{'hidden': !project.showMilestones}" class="project-body">
            <label for="currency">Currency Type:</label>
            <input type="text" [(ngModel)]="project.currency" [disabled]="!project.editMode"
              (click)="stopPropagation($event)">
            <label for="amount">Amount:</label>
            <input type="number" [(ngModel)]="project.amount" [disabled]="!project.editMode"
              (click)="stopPropagation($event)">
          </div>
          <div [ngClass]="{'hidden': !project.showMilestones}" class="milestones">
            <div class="milestone" *ngFor="let milestone of project.milestones; let k = index">
              <div class="milestone-header" (click)="stopPropagation($event)">
                <input type="text" [(ngModel)]="milestone.name" [disabled]="!milestone.editMode"
                  (click)="stopPropagation($event)">
                <div class="header-buttons">
                  <button class="edit-button" (click)="editEntity(milestone, $event)"><img
                      src="assets/edit.svg" /></button>
                  <button class="delete-button" (click)="deleteEntity(i, j, k, $event)"><img
                      src="assets/delete.svg" /></button>
                </div>
              </div>
              <div class="milestone-body">
                <div class="milestone-row">
                  <div class="milestone-column">
                    <label for="date">Date:</label>
                    <input type="date" [(ngModel)]="milestone.date" [disabled]="!milestone.editMode"
                      (click)="stopPropagation($event)">
                  </div>
                  <div class="milestone-column">
                    <label for="amountPercentage">Amount Percentage:</label>
                    <input type="number" [(ngModel)]="milestone.amountPercentage" [disabled]="!milestone.editMode"
                      (click)="stopPropagation($event)">
                  </div>
                </div>
              </div>
            </div>
            <button class="add-button" (click)="addMilestone(customer, project)">+ Añadir hito</button>
          </div>
        </div>
        <button class="add-button" (click)="addProject(customer)">+ Añadir proyecto</button>
      </div>
    </div>
  </div>



</app-navbar>
