.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  height: inherit;
}

.mat-nav-list {
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top-buttons-container {
  flex-grow: 1;
}

.bottom-buttons-container {
  margin-bottom: 20px;
}

s .sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.material-icons-outlined {
  color: red;
}

.logout-text {
  color: rgb(80, 80, 80);
}

/* .logout-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.mat-icon {
  margin: auto;
}