a {
  color: inherit;
  text-decoration: none;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  height: inherit;
}

.action-list {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.action-list .bottom-buttons-container button {
  text-align: center;
}

.top-buttons-container {
  flex-grow: 1;
}

.task-btn {
  text-align: left;
}

.bottom-buttons-container {
  margin-bottom: 20px;
}

s .sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  align-items: center;
  margin-left: 10px;
  font-size: 1.5em;
  font-weight: 500;
  color: #000;
  /* Ensure text color is set */
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.logo-wrapper img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  /* Adds space between the logo and the text */
  transition: transform 0.3s ease;
}

.logo-wrapper:hover {
  color: #be0926;
  /* Change text color on hover */
  background-color: rgba(0, 0, 0, 0.1);
  /* Add a subtle background color change on hover */
  border-radius: 5px;
}

.logo-wrapper:hover img {
  transform: scale(1.1);
  /* Slightly enlarges the logo on hover */
}

.header-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-actions-container {
  flex-grow: 1;
}

.user-container {
  color: white;
  cursor: pointer;
  padding: 6px;
}

.user-container:hover {
  background-color: rgba(200, 200, 200, 0.366);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.user-container h3 {
  text-align: right;
}

.logout-text-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}

.material-icons-outlined {
  color: red;
}

.logout-text {
  color: rgb(80, 80, 80);
}

.custom-modalbox {
  mat-dialog-container {
    padding: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group-invalid {
  border: 1px solid red;
  border-radius: 4px;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #616161;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.submit-btn:hover {
  background-color: #1565c0;
}