<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mat-toolbar"><a routerLink="/dashboard">Lurica Horas</a></mat-toolbar>
    <mat-action-list class="action-list">
      <div class="top-buttons-container">
        <mat-dialog-actions mat-list-item>
          <button mat-list-item (click)="openModal(createTaskTemplate, 'Crear tarea')" class="task-btn">Crear nueva tarea</button>
        </mat-dialog-actions>

        <a *ngIf="isAdmin()" routerLink="/users" mat-list-item>Usuarios</a>
        <a *ngIf="isAdmin()" routerLink="/projects" mat-list-item>Proyectos</a>
        <a *ngIf="isAdmin()" routerLink="/companies" mat-list-item>Empresas</a>
        <a *ngIf="isAdmin()" routerLink="/milestones" mat-list-item>Hitos</a>
        <a *ngIf="isAdmin()" routerLink="/reports" mat-list-item>Reportes</a>
      </div>

      <div class="bottom-buttons-container">
        <mat-dialog-actions>
          <button class="logout-btn" mat-list-item (click)="logout()">
            <div class="logout-text-icon-container">
              <span class="logout-text">Cerrar sesión</span>
              <mat-icon>
                <span class="material-icons-outlined">
                  logout
                </span>
              </mat-icon>
            </div>
          </button>
        </mat-dialog-actions>
      </div>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="header-toolbar" style="background-color: #be0926;">
      <div class="menu-actions-container">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon" style="color: white;">menu</mat-icon>
        </button>
      </div>
      <div class="user-container" (click)="openModal(editUserTemplate, 'Editar Usuario')">
        <h3>{{user.username}}</h3>
        <h4>29-05-2024 15:45:30</h4>
      </div>
    </mat-toolbar>

    <!-- Add Modal Content Here -->
    <ng-template #editUserTemplate>
      <form>
        <input type="password" matInput formControlName="password" placeholder="Contraseña">
        <input type="password" matInput formControlName="password" placeholder="Confirmar Contraseña">     
        <button class="submit-btn">Guardar</button>
      </form>
    </ng-template>

    <ng-template #createTaskTemplate>
      <app-dialog></app-dialog>
    </ng-template>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>