form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #616161;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.form-group-invalid {
  border: 1px solid red;
  border-radius: 4px;
}

#button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.submit-btn {
  background-color: #1976d2;
}

.add-btn {
  background-color: #008A61;
}

.show-btn {
  background-color: #008080;
}


.delete-btn {
  color: red;

}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.submit-btn:hover {
  background-color: #1565c0;
}

svg {
  height: 15px;
}

a {
  cursor: pointer;
  margin: 0 5px;
}

ul {
  list-style-type: none;
}