<form [formGroup]="form" (ngSubmit)="createTask()" autocapitalize="new-password" action="javascript:void(0)">
  <label for="project">Proyecto</label>
  <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('project')}">
    <select id="project" formControlName="projectId" (change)="onProjectChange($event)">
      <option *ngFor='let project of projects' value={{project.id}}>{{project.name}}</option>
    </select>
  </div>

  <label for="milestone">Hito</label>
  <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('milestone')}">
    <select id="milestone" formControlName="milestoneId">
      <option *ngFor='let milestone of milestones' value={{milestone.id}}>{{milestone.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="description">Descripción</label>
    <textarea id="description" rows="4" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label for="type">Tipo</label>
    <input required type="text" id="type" name="type" autocomplete="new-password" formControlName="type">
  </div>

  <div class="form-group">
    <label for="dateFrom">Fecha desde</label>
    <input type="date" id="dateFrom" formControlName="dateFrom">
  </div>

  <div class="form-group">
    <label for="dateTo">Fecha hasta</label>
    <input type="date" id="dateTo" formControlName="dateTo">
  </div>

  <p *ngIf="this.form.invalid && formSubmitted" style="color: red">Por favor complete los campos.</p>
  <div class="button-wrapper">
    <button id="button" type="submit" class="add-btn">Agregar</button>
  <button id="button" type="button" class="show-btn" (click)="showAddedTasks()">Ver Tareas Agregadas</button>
  </div>
  <button id="button" type="button" class="submit-btn" (click)="sendTasks()">Enviar</button>
</form>

  
<ng-template #viewTasksModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Tareas Agregadas</h4>
  </div>
  <div class="modal-body">
    <ul>
      <li *ngFor="let task of tasks; let i = index">
        {{ task.description }} - {{ task.dateFrom }} - {{ task.dateTo }}
          <a class="edit-btn" (click)="editTask(i)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg></a>
          <a class="delete-btn" (click)="deleteTask(i)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>
      </li>
    </ul>
    <button id="button" type="button" class="submit-btn" (click)="sendTasks()">Enviar</button>
  </div>
</ng-template>