<div class="dialog-container" align="center">
  <button mat-icon-button style=" float: right;">
    <mat-icon matDialogClose>close</mat-icon>
  </button>
  <mat-dialog-content>
    <header>
      <h1>Nueva tarea</h1>
    </header>
    <div>
      <mat-form-field>
        <mat-label>Proyecto</mat-label>
        <mat-select>
          <mat-option value="one">MacroPagos</mat-option>
          <mat-option value="two">Facturbo</mat-option>
          <mat-option value="three">VIM</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Descripción">
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Fecha desde</mat-label>
      <input matInput type="datetime-local">
      <!-- <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker> -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha hasta</mat-label>
      <input matInput type="datetime-local">
      <!-- <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker> -->
    </mat-form-field>

    <div>
      <label>
        <h4>Tipo</h4>
      </label>
      <ul align="left">
        <li><mat-checkbox>Desarrollo</mat-checkbox></li>
        <li><mat-checkbox>Customizing</mat-checkbox></li>
        <li><mat-checkbox>Arquitectura</mat-checkbox></li>
        <li><mat-checkbox>Pre Venta</mat-checkbox></li>
        <li><mat-checkbox>Otros</mat-checkbox></li>
        <li><mat-checkbox>Gerencia</mat-checkbox></li>
      </ul>
    </div>

    <label>
      <h4>Moneda</h4>
    </label>
    <div>
      <mat-radio-group>
        <mat-radio-button value="ars">
          <span class="ars-span">ARS</span>
        </mat-radio-button>
        <mat-radio-button value="usd">
          <span class="usd-span">USD</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="warn" matDialogClose>Cancelar</button>
    <button mat-raised-button color="primary" (click)="createTask()">Guardar</button>
  </mat-dialog-actions>
</div>