<app-navbar>
  <div class="container">
    <h1>Tareas</h1>
    <div class="table-wrapper">
      <table class="full-width-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Proyecto</th>
            <th>Descripción</th>
            <th>Horas</th>
            <th>Estado</th>
            <th>Monto por Hora</th>
            <th>Tipo Moneda</th>
            <th>Monto en USD</th>
            <th>Monto por Coste</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dataSource.data">
            <td data-label="Id">{{row.id}}</td>
            <td data-label="Fecha">{{row.date || "Sin fecha"}}</td>
            <td data-label="Proyecto">{{row.project.name}}</td>
            <td data-label="Descripción">{{row.description}}</td>
            <td data-label="Horas">{{row.hours}}</td>
            <td data-label="Estado">{{row.status}}</td>
            <td data-label="Monto por Hora">{{row.hourlyAmount || "$1.00"}}</td>
            <td data-label="Tipo Moneda"><span class="currency-card">{{row.currency || "ARS"}}</span></td>
            <td data-label="Monto en USD">{{row.usdAmount || "Infinity"}}</td>
            <td data-label="Monto por Coste">{{row.costAmount || "$0.00"}}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!dataSource.data.length"><b>No hay tareas para mostrar.</b></p>
    </div>
  </div>
</app-navbar>