<app-navbar>
  <div class="container">
    <h1>Tareas</h1>
    <!-- Add two buttons to select a month and a year -->
    <div class="date-selection">
      <label for="monthFilter">Filtrar por mes</label>
      <select id="monthFilter" class="select-input">
        <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
      </select>
      <label for="yearFilter">Filtrar por año</label>
      <select id="yearFilter" class=" select-input">
        <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
      </select>
    </div>
    <div class="table-wrapper">
      <table class="full-width-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Proyecto</th>
            <th *ngIf="isAdmin; else employeeColumn" style="white-space: nowrap;">
              <span style="display: inline-block; vertical-align: middle;">
                Empleado
              </span>
              <span (click)="toggleEmployeeFilter()" class="toggle-icon"
                style="cursor: pointer; margin-left: 5px; display: inline-block; vertical-align: middle;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  style="width: 16px; height: 16px; vertical-align: middle;">
                  <circle cx="11" cy="11" r="6.5" fill="none" stroke="#000" stroke-width="2" />
                  <line x1="20.4" y1="20.5" x2="15.5" y2="15.7" fill="none" stroke="#000" stroke-width="2" />
                </svg>
              </span>
              <div *ngIf="showEmployeeFilter" class="employee-filter-layer">
                <select [(ngModel)]="filteredEmployee" (change)="applyEmployeeFilter()">
                  <option *ngFor="let employee of employees" [ngValue]="employee">
                    {{employee.firstName}} {{employee.lastName}}
                  </option>
                </select>
              </div>
            </th>
            <ng-template #employeeColumn>
              <th>Empleado</th>
            </ng-template>
            <th>Descripción</th>
            <th>Horas</th>
            <th>Estado</th>
            <th>Tipo Moneda</th>
            <th>Tipo Monto</th>
            <th>Monto horario en USD</th>
            <th>Pesos a Blue</th>
            <th>Pesos a Oficial</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of this.filteredData; let i = index">
            <td data-label="Id">{{row.id}}</td>
            <td data-label="Fecha">{{row.date || "Sin fecha"}}</td>
            <td data-label="Proyecto">{{row.project.name}}</td>
            <td data-label="Empleado">{{row.employee.fullName}}</td>
            <td data-label="Descripción">{{row.description}}</td>
            <td data-label="Horas">{{row.hours}}</td>
            <td data-label="Estado">{{row.status}}</td>
            <td data-label="Tipo Moneda"><span class="currency-card">{{row.currency || "ARS"}}</span></td>
            <td data-label="Tipo de Monto">{{row.employee.amountType}}</td>
            <td data-label="Monto horario en USD">${{row.employee.hourlyAmount || "1.00"}}</td>
            <td data-label="USD Blue">${{row.employee.blueQuoteAmount || "0.00"}}</td>
            <td data-label="USD Oficial">${{row.employee.officialQuoteAmount || "0.00"}}</td>
            <ng-container *ngIf="isAdmin">
              <td data-label=""><button class="edit-btn"
                  (click)="openEditTaskModal(row.id!, createUserTemplate)">Editar</button></td>
              <td data-label=""><button class="delete-btn" (click)="deleteTask(row.id, i)">Borrar</button></td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!filteredData.length"><b>No hay tareas para mostrar.</b></p>
    </div>
  </div>

  <ng-template #createUserTemplate>
    <form [formGroup]="form" (ngSubmit)="editTask()" autocapitalize="new-password" action="javascript:void(0)">
      <label for="project">Proyecto</label>
      <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('project')}">
        <select id="project" formControlName="projectId" (change)="onProjectChange($event)">
          <option *ngFor='let project of projects' value={{project.id}}>{{project.name}}</option>
        </select>
      </div>

      <label for="milestone">Hito</label>
      <div class="form-group" [ngClass]="{'form-group-invalid' : isInvalidInput('milestone')}">
        <select id="milestone" formControlName="milestoneId">
          <option *ngFor='let milestone of selectedProject.milestones' value={{milestone.id}}>{{milestone.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea id="description" rows="4" formControlName="description"></textarea>
      </div>

      <div class="form-group">
        <!-- <label for="type">Tipo</label> -->
        <div class="tag-selection">
          <!-- <span class="tag desarrollo" (click)="selectType('Desarrollo')">Desarrollo</span>
            <span class="tag infraestructura" (click)="selectType('Infraestructura')">Infraestructura</span>
            <span class="tag ciberseguridad" (click)="selectType('Ciberseguridad')">Ciberseguridad</span>
            <span class="tag otros" (click)="selectType('Otros')">Otros</span> -->
        </div>
        <input type="hidden" formControlName="type">
      </div>

      <div class="form-group">
        <label for="dateFrom">Fecha</label>
        <input id="dateFrom" type="date" formControlName="dateFrom">
      </div>

      <div class="form-group">
        <label for="hours">Horas</label>
        <input id="hours" type="number" formControlName="hours">
      </div>

      <p *ngIf="this.form.invalid && formSubmitted" class="error-message">Por favor complete los campos.</p>
      <p *ngIf="this.errorMessage" class="error-message">{{this.errorMessage}}</p>
      <div class="button-wrapper">
        <button id="button" type="submit" class="btn">Editar</button>
      </div>
    </form>
  </ng-template>
</app-navbar>
