.modal-content {
  width: 90%;
  max-width: 960px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.report-filters {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #616161;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background-color: lightgray;
}
